@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>CallCenter</h1></center>
    <p class="lead"> </p>

</div>
<script type="text/javascript">
    function seleccionado() {
        var opt = $('#opcion').val();

        // alert(opt);
        if (opt === "otros") {

            $('#otros').show();
            $('#comentario').show();
        }
        if (opt !== "otros") {

            $('#otros').hide();
            $('#comentario').show();
        }



    }

</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<form method="post" action="~/Home">
    <div class="span4" id="selDiv">
        <h3>Tema <span class="label label-default"></span></h3>
        <select class="form-control" data-style="btn-danger" id="opcion" name="opcion" onchange="seleccionado()">
            <option>Seleccione un tema</option>
            <option>Citas</option>
            <option>Laboratorio Ortopedico</option>
            <option>Medico</option>
            <option>Queja</option>
            <option>otros</option>
        </select>
    </div>

    <div id="contenido">

    </div>

    <!--Show Product Categories List-->
    @*<div id="tema">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>*@

    <div id="otros" style="display:none;">
        <div class="row">
            <h3>Otros<span class="label label-default"></span></h3>
            <div class="col-md-12">
                <input class="form-control" name="otros">
            </div>
        </div>
    </div>

    <div id="comentario">
        <div class="row">
            <h3>Comentario <span class="label label-default"></span></h3>
            <div class="col-md-12">
                <textarea class="form-control" rows="3" maxlength="200" name="comentario"></textarea>
            </div>
        </div>
    </div>
    <button class=" btn btn-primary">Guardar</button>

</form>



@section scripts{
    <script type="text/javascript">
         @Html.Raw(ViewBag.Mensaje)
        @Html.Raw(ViewBag.ErrorMensaje)
    </script>
}